body {
    margin: 0;
    font-family: 'Lato', "PingFang SC", "Microsoft YaHei", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    height: 100%;
}

::selection {
    background: #262a30;
    color: #fff;
}

.container {
    position: relative;
    min-height: 100%;
    overflow: auto;
}

.headband {
    width: 100%;
    height: 3px;
    background: black;
}

.header {
    margin: 0 auto;
    position: relative;
    width: calc(100% - 20px);
    background: transparent;
    display: block;
}

.header-inner {
    background: #fff;
    border-radius: initial;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.06),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
    overflow: hidden;
    padding: 0;
    position: absolute;
    top: 0;
    width: 240px;
}


.site-brand-container {
    position: relative;
}

.site-meta {
    background: #222;
    color: #fff;
    padding: 20px 0;
    margin: 0;
    text-align: center;
}

.brand {
    background: none;
    padding: 0;
    border-bottom: none;
    color: #fff;
    display: inline-block;
    line-height: 1.375em;
    position: relative;
}

.site-title {
    display: inline-block;
    font-family: 'Lato', "PingFang SC", "Microsoft YaHei", sans-serif;
    font-size: 1.375em;
    font-weight: normal;
    line-height: 1.5;
    vertical-align: top;
}

.site-subtitle {
    color: #dddddd;
    font-size: 0.8125em;
    font-weight: initial;
    margin: 10px 10px 0;
}

.site-nav {
    display: block;
}


.menu {
    margin-top: 20px;
    padding-left: 0;
    text-align: center;
    list-style-type: disc;
}

.menu-item {
    list-style: none;
    margin: 0;
    font-size: 13px;
}

a {
    outline: 0;
    color: #555;
    text-decoration: none;
    overflow-wrap: break-word;
    word-wrap: break-word;
    cursor: pointer;
}

.menu-item a {
    display: block;
    padding: 5px 20px;
    position: relative;
    text-align: left;
    transition-property: background-color;
}

.menu-item-active a {
    background-color: #f5f5f5;
}

.menu-item:hover {
    background-color: #f5f5f5;
}

.main {
    display: block;
}

.main::before, .main::after {
    content: ' ';
    display: block;
    height: 0;
}

.main::after {
    clear: both;
}

.main-inner {
    margin: 0 auto;
    width: calc(100% - 20px);
}


.sidebar {
    margin-top: 320px;
    float: left;
    box-shadow: none;
    background-color: #eee;
    width: 240px;
    position: static;
    bottom: auto;
    right: auto;
}


.sidebar-inner {
    background: #fff;
    border-radius: initial;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.06), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 -1px 0.5px 0 rgba(0, 0, 0, 0.09);
    box-sizing: border-box;
    color: #555;
    width: 240px;
    text-align: center;
    padding: 18px 10px;
    margin: 0 auto;
}

.stickem-container {
    position: relative;
}

.stickit {
    position: fixed;
    top: 12px;
}

.content-wrap {
    background: initial;
    box-shadow: initial;
    padding: initial;
    border-radius: initial;
    box-sizing: border-box;
    float: right;
    width: calc(100% - 252px);
}


.psots-expand {
    padding-top: initial;
}

.post-block {
    background: #fff;
    border-radius: initial;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.06), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    padding: 40px;
}

.post-block + .post-block {
    border-radius: initial;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.06), 0 1px 5px 0 rgba(0,0,0,0.12), 0 -1px 0.5px 0 rgba(0,0,0,0.09);
    margin-top: 12px;
}

.posts-expand .post-header {
    font-size: 1.125em;
}

.posts-expand .post-title {
    font-weight: 400;
    margin: initial;
    text-align: center;
    word-wrap: break-word;
}

.posts-expand .post-title-link {
    border-bottom: none;
    color: #555;
    display: inline-block;
    position: relative;
    vertical-align: top;
}

.posts-expand .post-title-link::before {
    background: #000;
    bottom: 0;
    content: '';
    height: 2px;
    left: 0;
    position: absolute;
    transform: scaleX(0);
    visibility: hidden;
    width: 100%;
    transition-delay: 0s;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

.posts-expand .post-meta {
    color: #999;
    font-family: 'Lato', "PingFang SC", "Microsoft YaHei", sans-serif;
    font-size: 0.75em;
    margin: 3px 0 60px 0;
    text-align: center;
}

.post-meta .post-meta-item + .post-meta-item::before {
    content: '|';
    margin: 0 0.5em;
}

.post-meta-item-icon {
    margin-right: 3px;
}

.posts-expand .post-meta time {
    border-bottom: 1px dashed #999;
    cursor: pointer;
}

.posts-expand .post-body {
    font-family: 'Lato', "PingFang SC", "Microsoft YaHei", sans-serif;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.pagination {
    background: #fff;
    border-radius: initial;
    border-top: initial;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.06), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 -1px 0.5px 0 rgba(0, 0, 0, 0.09);
    margin: 12px 0 0;
    padding: 10px 0 10px;
    text-align: center;
}

.pagination::selection {
    background: #262a30;
    color: #fff;
}

.pagination .page-number.current {
    background: #ccc;
    border-top-color: #ccc;
    color: #fff;
}

.pagination .prev,
.pagination .next,
.pagination .page-number {
    top: initial;
    border-bottom: 0;
    border-top: 1px solid #eee;
    transition-property: border-color;
    transition-delay: 0s;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    display: inline-block;
    margin: 0 10px;
    padding: 0 11px;
    position: relative;
    text-decoration: none;
    cursor: pointer;
}

.pagination .prev:hover,
.pagination .next:hover,
.pagination .page-number:hover {
    border-top-color: #222;
}

.pagination .page-number.current:hover {
    border-top-color: #ccc;
!important;
}

.pagination .prev::selection,
.pagination .next::selection,
.pagination .page-number::selection {
    background: #262a30;
    color: #fff;
}

.pagination .space {
    display: inline-block;
    margin: 0 10px;
    padding: 0 11px;
    position: relative;
    top: -1px;
}

.footer {
    bottom: auto;
    color: #999;
    font-size: 0.875em;
    padding: 20px 0;
}

.footer-inner {
    text-align: center;
    margin: 0 auto;
    box-sizing: border-box;
    width: calc(100% - 20px);
}

.link {
    color: #555;
}